body{
background-color:black;    
}
#Title{
font-size: 80px;
color:white;    
}
#img1{
width: 60px;
height: 60px;    
}
#log{
color:chartreuse;    
}
#button_log{
width: 120px;
height: 50px;
font-size: 35px;
color: black;  
border-radius: 10px; 
}
.input-group-lg{
width:50%;
}
